body{
	background-color: #75c3db71;
	text-align: center;	
	font-size: 30px;
}

h2{
	font-size: 40px;
	color: rgb(0, 0, 0);
	padding-top: 100px;
	text-align: center;
	
}
.green{
	color: rgb(12, 133, 22);
	padding:20px 0px;
}

.red{
	color: rgb(253, 2, 2);
	margin-bottom: 30px;
}
.text{
	color: rgb(99, 109, 42);
}
.text span{
	color: rgb(252, 255, 55);
}